extends layout


block content

  //Begin Page Content
  div.container-fluid

    //Page Heading
    div.d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
        |Masternodes
    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
        h6.m-0.font-weight-bold.text-primary My Axel Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="axel-submit",method="post")
              input(type="hidden",id="crypto",value="Axel",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Axel").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Axel MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
            a(href="#").btn.btn-primary.btn-icon-split
              span.icon.text-white-50
                i.fas.fa-arrow-right
              span.text Split Button Primary

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
        h6.m-0.font-weight-bold.text-primary My SafeCapital (SCAP) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          #MNinfos
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="scap-submit",method="post")
              input(type="hidden",id="crypto",value="Scap",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Scap").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Scap MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample1",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample1")
        h6.m-0.font-weight-bold.text-primary My Iqcash (IQ) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample1(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
            p
              #loadingbutton
            p
              form(name="iqcash-submit",method="post")
                input(type="hidden",id="crypto",value="Iqcash",name="crypto")
                input(type="hidden",id="user",value="Andreas",name="user")
                button(type="submit",value="Iqcash").btn.btn-primary.btn-icon-split
                  span.icon.text-white-50
                    i.fas.fa-arrow-right
                  span.text.text-white Create New IQ MN
            p
              button.btn.btn-primary(type="button").disabled
                span.spinner-grow.spinner-grow-sm(role="status",aria-hidden="true")
                |Loading...
            if MNinfos
              if MNinfos.status==installed
              |  Now send your 5000 collateral to
              =MNinfos.pubkey
          div.my-2


    //Content Row
    div.row
      if data.masternodes.length != 0
        each masternode in data.masternodes
           if masternode.crypto != 'xoxo'
            //Earnings (Monthly) Card Example
            div.col-xl-3.col-md-6.mb-4
              if masternode.isactive === true
                div.card.border-left-success.shadow.h-100.py-2
                  div.card-body
                    div.row.no-gutters.align-items-center
                      div.col.mr-2
                        div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 
                          =masternode.serverName
                        div.h5.mb-0.font-weight-bold.text-gray-800 
                          | Total : 
                          =masternode.totalToken
                        div.h5.mb-0.font-weight-bold.text-gray-800 
                          =masternode.gainsincecreated
                      div.col-auto
                        i.fas.fa-calendar.fa-2x.text-gray-300 
              else
                div.card.border-left-danger.shadow.h-100.py-2
                  div.card-body
                    div.row.no-gutters.align-items-center
                      div.col.mr-2
                        div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 
                          =masternode.serverName
                        div.h5.mb-0.font-weight-bold.text-gray-800 
                          | total Token
                          =masternode.totalToken
                      div.col-auto
                        i.fas.fa-calendar.fa-2x.text-gray-300 
      else
        p No masternodes yet :(

  script.
    const socket = io();
    socket.on('loadingbutton', function(message) {
    const spinner= '<button class="btn btn-primary" type="button" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>'+message+'</button>';
      $('#loadingbutton').append($(spinner));
      socket.emit('message', "Salut serveur, je suis connecté !");
    });