extends layout


block content

  //Begin Page Content
  div.container-fluid

    //Page Heading
    div.d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
        |Masternodes
    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
          h6.m-0.font-weight-bold.text-primary My Axel Masternodes
          | Total value = 
          =MNdata.summary[0].total
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="axel-submit",method="post")
              input(type="hidden",id="crypto",value="Axel",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Axel").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Axel MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          p
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Axel'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='axel'
                      //Earnings (Monthly) Card Example
                      div.col-xl-3.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Axels  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
        h6.m-0.font-weight-bold.text-primary My SafeCapital (SCAP) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          #MNinfos
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="scap-submit",method="post")
              input(type="hidden",id="crypto",value="Scap",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Scap").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Scap MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 5000 collateral to
            =MNinfos.pubkey
          div.my-2
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Scap'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='scap'
                      //Earnings (Monthly) Card Example
                      div.col-xl-3.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Scap  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample1",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample1")
        h6.m-0.font-weight-bold.text-primary My Iqcash (IQ) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample1(style="")
        div.card-body
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
            p
              #loadingbutton
            p
              form(name="iqcash-submit",method="post")
                input(type="hidden",id="crypto",value="Iqcash",name="crypto")
                input(type="hidden",id="user",value="Andreas",name="user")
                button(type="submit",value="Iqcash").btn.btn-primary.btn-icon-split
                  span.icon.text-white-50
                    i.fas.fa-arrow-right
                  span.text.text-white Create New IQ MN
            p
              button.btn.btn-primary(type="button").disabled
                span.spinner-grow.spinner-grow-sm(role="status",aria-hidden="true")
                |Loading...
            if MNinfos
              if MNinfos.status==installed
              |  Now send your 5000 collateral to
              =MNinfos.pubkey
          div.my-2
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Iqcash'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='iq'
                      //Earnings (Monthly) Card Example
                      div.col-xl-3.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  IQ  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
        h6.m-0.font-weight-bold.text-primary My Transcendence (TELOS) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          #MNinfos
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="telos-submit",method="post")
              input(type="hidden",id="crypto",value="Telos",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Telos").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Telos MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 100 000 collateral to
            =MNinfos.pubkey
          div.my-2
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Telos'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='telos'
                      //Earnings (Monthly) Card Example
                      div.col-xl-3.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  Telos  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(

    //Collapse card example
    div.card.shadow.mb-4
      //Card Header - Accordion
      a(href="#collapseCardExample",class="d-block card-header py-3",data-toggle="collapse",role="button",aria-expanded="true",aria-controls="collapseCardExample")
        h6.m-0.font-weight-bold.text-primary My Energi (NRG) Masternodes
      //Card Content - Collapse
      div.collapse.show#collapseCardExample(style="")
        div.card-body
          #MNinfos
          p
            |This is a collapsable card example using Bootstrap's built in collapse functionality. 
            strong Click on the card header out strong
            |to see the card body collapse and expand!
          p
            form(name="energi-submit",method="post")
              input(type="hidden",id="crypto",value="Energi",name="crypto")
              input(type="hidden",id="user",value="Andreas",name="user")
              button(type="submit",value="Energi").btn.btn-primary.btn-icon-split
                span.icon.text-white-50
                  i.fas.fa-arrow-right
                span.text.text-white Create New Telos MN
          if MNinfos
            if MNinfos.status==installed
            |  Now send your 1 000 collateral to
            =MNinfos.pubkey
          div.my-2
          //Content Row
          div.row
            if MNdata.masternodes.length != 0
              each masternode in MNdata.masternodes
                if masternode.crypto == 'Energi'
                  each cryptodata in Cryptodata
                    if cryptodata.symbol=='nrg'
                      //Earnings (Monthly) Card Example
                      div.col-xl-3.col-md-6.mb-4
                        if masternode.isactive === true
                          div.card.border-left-success.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
                        else
                          div.card.border-left-danger.shadow.h-100.py-2
                            div.card-body
                              div.row.no-gutters.align-items-center
                                div.col.mr-2
                                  div.text-xs.font-weight-bold.text-primary.text-uppercase.mb-1.d-flex
                                    =masternode.serverName
                                    |  -  ROI  : 
                                    =Math.round(((masternode.gainperweek/7)*365)/masternode.collateral*1000)/10
                                    | %
                                    |  -   Par mois  : 
                                    =Math.round((cryptodata.market_data.current_price.eur*masternode.gainperweek/7)*30*100)/100
                                    | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Total : 
                                    =Math.round(masternode.totalToken*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.totalToken*100)/100
                                      | €
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Gain since created : 
                                    =Math.round(masternode.gainsincecreated*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*masternode.gainsincecreated*100)/100
                                      |€
                                  div.text-xs.mb-0.font-weight-bold.text-gray-800 
                                    | Available : 
                                    =Math.round((masternode.totalToken-masternode.collateral)*100)/100
                                    |  NRG  
                                    a.text-gray-500 
                                      =Math.round(cryptodata.market_data.current_price.eur*(masternode.totalToken-masternode.collateral)*100)/100
                                      | €
                                div.col-auto.d-flex.flex-column
                                  div
                                    i.fas.fa-exchange-alt.fa-1x.text-primary
                                  div
                                    i.fa.fa-trash.fa-1x.text-danger
            else
              p No masternodes yet :(
  script.
    const socket = io();
    socket.on('loadingbutton', function(message) {
    const spinner= '<button class="btn btn-primary" type="button" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>'+message+'</button>';
      $('#loadingbutton').append($(spinner));
      socket.emit('message', "Salut serveur, je suis connecté !");
    });