doctype html
// Sidebar
ul.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion#accordionSidebar

  // Sidebar - Brand
  a(href="/").sidebar-brand.d-flex.align-items-center.justify-content-center
    div.sidebar-brand-icon
      i.fas.fa-frog.wink
    div.sidebar-brand-text.mx-2 Cryptemik (Cryptolution) Cryptortoise Cryptototamus Cryptokapi CrissCrossCoin CrixCroxCoin FrixFrox 

  // Divider
  hr.sidebar-divider.my-0

  // Nav Item - Dashboard
  if title=="Dashboard"
    li.nav-item.active
      a.nav-link(href="/")
        i.fas.fa-fw.fa-tachometer-alt
        span Dashboard
  else 
    li.nav-item
      a.nav-link(href="/")
        i.fas.fa-fw.fa-tachometer-alt
        span Dashboard
  // Divider
  hr.sidebar-divider

  // Heading
  div.sidebar-heading
    Interface

  // Nav Item - Pages Collapse Menu
  if title=="Masternodes"
    li.nav-item.active
      a.nav-link(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-hand-holding-usd
        span Investir
      div#collapseTwo.collapse.show(aria-labelledby="headingTwo",data-parent="#accordionSidebar")
        div.bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Types d'inverstissements
          a.collapse-item.active(href="masternodes") Masternodes
          a.collapse-item(href="404") Prêts risqués
          a.collapse-item(href="404") Prêts assurés
          a.collapse-item(href="404") Produits complexes

  else if title=="Prêts risqués"
    li.nav-item.active
      a.nav-link(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-hand-holding-usd
        span Investir
      div#collapseTwo.collapse.show(aria-labelledby="headingTwo",data-parent="#accordionSidebar")
        div.bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Types d'inverstissements
          a.collapse-item(href="masternodes") Masternodes
          a.collapse-item.active(href="404") Prêts risqués
          a.collapse-item(href="404") Prêts assurés
          a.collapse-item(href="404") Produits complexes

  else if title=="Prêts assurés"
    li.nav-item.active
      a.nav-link(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-hand-holding-usd
        span Investir
      div#collapseTwo.collapse.show(aria-labelledby="headingTwo",data-parent="#accordionSidebar")
        div.bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Types d'inverstissements
          a.collapse-item(href="masternodes") Masternodes
          a.collapse-item(href="404") Prêts risqués
          a.collapse-item.active(href="404") Prêts assurés
          a.collapse-item(href="404") Produits complexes

  else if title=="Produits complexes"
    li.nav-item.active
      a.nav-link(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-hand-holding-usd
        span Investir
      div#collapseTwo.collapse.show(aria-labelledby="headingTwo",data-parent="#accordionSidebar")
        div.bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Types d'inverstissements
          a.collapse-item(href="masternodes") Masternodes
          a.collapse-item(href="404") Prêts risqués
          a.collapse-item(href="404") Prêts assurés
          a.collapse-item.active(href="404") Produits complexes

  else
    li.nav-item
      a.nav-link.collapsed(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-hand-holding-usd
        span Investir
      div#collapseTwo.collapse(aria-labelledby="headingTwo",data-parent="#accordionSidebar")
        div.bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Types d'inverstissements
          a.collapse-item(href="masternodes") Masternodes
          a.collapse-item(href="404") Prêts risqués
          a.collapse-item(href="404") Prêts assurés
          a.collapse-item(href="404") Produits complexes

  //Nav Item - Trading
  li.nav-item
    a.nav-link(href="market-coin")
      i.fas.fa-fw.fa-wallet
      span Trading - Marché

  //Divider
  hr.sidebar-divider

  //Heading
  div.sidebar-heading
    Addons

  if title=="wallets"
    //Nav Item
    li.nav-item.active
      a.nav-link(href="wallets")
        i.fas.fa-fw.fa-wallet
        span Comptes
  else
    //Nav Item
    li.nav-item.active
      a.nav-link(href="wallets")
        i.fas.fa-fw.fa-wallet
        span Comptes


  //Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link.collapsed(href="#", data-toggle="collapse", data-target="#collapsePages", aria-expanded="true", aria-controls="collapsePages")
      i.fas.fa-fw.fa-shield-alt
      span Securité - Conformité
    div#collapsePages.collapse(aria-labelledby="headingPages" data-parent="#accordionSidebar")
      div.bg-white.py-2.collapse-inner.rounded
        h6.collapse-header : Sécurité
        a.collapse-item(href="#") Sécuriser ses comptes
        a.collapse-item(href="#") Informations sécurité
        div.collapse-divider
        h6.collapse-header Conformité:
        a.collapse-item(href="#") KYC
        a.collapse-item(href="#") AML
        a.collapse-item(href="#") Informations légales


  //Nav Item - Tables
  li.nav-item
    a.nav-link(href="tables.html")
      i.fas.fa-fw.fa-question-circle
      span Aide/FAQ

  //Divider
  hr.sidebar-divider.d-none.d-md-block

  //Sidebar Toggler (Sidebar)
  div.text-center.d-none.d-md-inline
    button.rounded-circle.border-0#sidebarToggle

//End of Sidebar

